#!/usr/bin/make -f
export DH_OPTIONS

DEBARCH:=$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DH_VERBOSE=1

%:
	dh $@ --with quilt

override_dh_installchangelogs:
	dh_installchangelogs CHANGELOG.md

override_dh_auto_configure:
	#$(shell sed -i s,lib/x86_64-linux-gnu/cloudcompare/plugins,lib/$(DEBARCH)/cloudcompare/plugins,g common/ccApplicationBase.cpp)
	$(shell sed -i s,lib/cloudcompare/plugins,lib/$(DEBARCH)/cloudcompare/plugins,g libs/CCAppCommon/src/ccApplicationBase.cpp)
	# FETCHCONTENT_FULLY_DISCONNECTED=OFF is to resolve FTBFS for debhelper > 13.8, which sets FETCHCONTENT_FULLY_DISCONNECTED to true
	# https://tracker.debian.org/news/1342805/accepted-debhelper-138-source-into-unstable/
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DOPTION_USE_SHAPE_LIB=ON \
		-DCCCORELIB_USE_CGAL=ON \
		-DJSON_ROOT_DIR=/usr/include/jsoncpp \
		-DOPTION_SUPPORT_GAMEPADS=ON \
		-DPLUGIN_GL_QEDL=ON \
		-DPLUGIN_GL_QSSAO=ON \
		-DPLUGIN_STANDARD_QPCV=ON \
		-DPLUGIN_STANDARD_QSRA=ON \
		-DPLUGIN_STANDARD_QBROOM=ON \
		-DPLUGIN_STANDARD_QCSF=ON \
		-DPLUGIN_STANDARD_QHPR=ON \
		-DPLUGIN_STANDARD_QM3C2=ON \
		-DPLUGIN_STANDARD_QPCL=ON \
		-DOPTION_USE_GDAL=ON \
		-DPLUGIN_IO_QPHOTOSCAN=ON \
		-DPLUGIN_STANDARD_QRANSAC_SD=ON \
		-DPLUGIN_STANDARD_QANIMATION=ON \
		-DPLUGIN_STANDARD_QCOMPASS=ON \
		-DPLUGIN_STANDARD_QHOUGH_NORMALS=ON \
		-DPLUGIN_STANDARD_QJSONRPC=ON \
		-DPLUGIN_GL_QEDL=ON \
		-DOPTION_USE_DXF_LIB=ON \
		-DEIGEN_ROOT_DIR=/usr/include/eigen3 \
		-DCCCORELIB_USE_TBB=ON \
		-DPLUGIN_GL_QSSAO=ON \
		-DPLUGIN_IO_QADDITIONAL=ON \
		-DPLUGIN_IO_QCORE=ON \
		-DPLUGIN_IO_QE57=ON \
		-DQANIMATION_WITH_FFMPEG_SUPPORT=ON \
		-DPLUGIN_IO_QRDB=ON \
		-DPLUGIN_IO_QRDB_FETCH_DEPENDENCY=ON \
		-DPLUGIN_IO_QRDB_INSTALL_DEPENDENCY=ON \
		-DPLUGIN_STANDARD_QBROOM=ON \
		-DPLUGIN_STANDARD_QCANUPO=ON \
		-DPLUGIN_STANDARD_QCOMPASS=ON \
		-DPLUGIN_STANDARD_QCSF=ON \
		-DPLUGIN_STANDARD_QFACETS=ON \
		-DPLUGIN_STANDARD_QHPR=ON \
		-DPLUGIN_STANDARD_QM3C2=ON \
		-DPLUGIN_STANDARD_QPOISSON_RECON=ON \
		-DOPTION_USE_LIBLAS=ON \
		-DBUILD_TESTING=ON \
		-DFETCHCONTENT_FULLY_DISCONNECTED=OFF

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/cloudcompare $(DEBARCH)
